\html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
}

.navbar,
footer {
    background-color: #064635;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #0b8457, #064635, #0b8457);
    color: white;
    display: flex;
    align-items: center;
}

section {
    padding: 80px 0;
}

.skill-box {
    background: #e6f5ef;
    padding: 35px 20px;
    border-radius: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

.skill-box i {
    font-size: 26px;
    color: #064635;
    margin-bottom: 8px;
    display: block;
}

.skill-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card {
    border: none;
    border-radius: 16px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}

footer {
    color: white;
    text-align: center;
    padding: 18px;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .navbar,
.dark-mode footer {
    background-color: #000000;
}

.dark-mode .hero {
    background: linear-gradient(135deg, #000000, #1a1a1a);
}

.dark-mode .skill-box {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .skill-box i {
    color: #20c997;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}
